<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>true</PublishSingleFile>
    <IncludeNativeLibrariesForSelfExtract>true</IncludeNativeLibrariesForSelfExtract>
    <EnableCompressionInSingleFile>true</EnableCompressionInSingleFile>
    <PublishTrimmed>false</PublishTrimmed>
    <DebugType>None</DebugType>
    <DebugSymbols>false</DebugSymbols>
    <PublishDir>$(MSBuildProjectDirectory)\..\artifacts\standalone\</PublishDir>
  </PropertyGroup>
  <Target Name="NameDesktopExecutable" AfterTargets="Publish">
    <Copy SourceFiles="$(PublishDir)$(AssemblyName).exe" DestinationFiles="$(PublishDir)Tessera.exe" />
    <Delete Files="$(PublishDir)$(AssemblyName).exe;$(PublishDir)PixelArtAlignment.pdb;$(PublishDir)PixelArtDownscale.pdb;$(PublishDir)PixelArtAseprite.pdb" />
  </Target>
</Project>